.centered {
    display: flex;
    justify-content: center;
    width: 400px;
    height: fit-content;
}

.BoekenCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 40px;
    width: 100%;

}

main {
    margin: 20px;
    padding: 0px;
    width: fit-content;
    height: fit-content;
}

.BoekenCards img {
    width: 200px;
    height: auto;
    border: 5px solid black;
}

figure {
    margin: 15px;
  padding: 0px;
}


/*-------cards------------*/
.cards {
    display: flex;
    height: fit-content;
    width: 900px;
    flex-wrap: wrap;
    background-color: rgb(97, 2, 2);
    border: 3px solid black;
    
}

.cards a
 {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.BoekenCards  h2 {
    font-size: 25px;
    color: black;
}

.BoekenCards  p {
    font-size: 20px;
    color: black;
}