.formulier {
    display:flex;
    padding: 30px;
    flex-direction: column;
    background-color: rgb(97, 2, 2);
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 800px;
}

.formulier label {
    margin-top: 20px;
}

form input {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    background-color:  rgb(231, 227, 227);
    color: black;
}

form input[type=sumbit]{
    width: fit-content;
}

.profiel {
    display: flex;
    justify-content: center;
}


