nav {
    height: 30px;
    margin-left: 10px;
    position: sticky;
    display: inline-flex;
    top: 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li
{
    font-size: 40px;
    list-style: none;
}

nav ul li a {

    text-decoration: none;
    color: black;
}   
